.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79.7vh;
}

.form {
    width: 30vw;
}

h1 {
    text-align: center;
}

.redirección {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-end;
    a {
        color: rgb(65, 125, 255);
    }
}