.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
        height: 5vh;
    }
}

.user {
    display: flex;
    margin: 0.3em;
    padding: 0.3em;
}

.carrito {
    margin-left: 1em;
    font-size: 2em;
}

.ant-menu-horizontal {
    padding: 0.5em;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: rgb(38, 61, 85);
    a:only-child,
    .ant-menu-submenu-title {
        display: block;
        color: white;
    }
}

.ant-menu-horizontal>.ant-menu-item .ant-menu-submenu-title :hover {
    color: white;
}

.ant-menu-horizontal>.ant-menu-item>a:only-child:hover {
    color: white;
}

.user2 {
    // margin: 2em;
    padding: 0.3em;
}

.buscador {
    all: unset;
    background-color: rgba(176, 197, 255, 0.253);
    color: white;
    border-radius: 3em;
    margin: 0.5em;
    padding: 0.2em;
    width: 25vw;
    height: 4vh;
}

.userZone {
    all: unset;
    color: white;
}

.guestZone {
    color: white;
}

a {
    color: white;
    margin: 0.1em;
}

input {
    color: black;
}

@media(max-width: 700px) {
    .ant-menu-horizontal {
        font-size: 0.7em;
        img {
            width: 10vw;
        }
    }
}