.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 61, 85);
    color: #F9FFFF;
    img {
        width: 10vw;
        height: 20vh;
        position: relative;
        margin-top: -4.5rem;
        z-index: 1;
    }
    p {
        display: flex;
        align-items: center;
        &:before {
            margin-right: 1rem;
            content: "";
            background: url(https://zelda.com/assets/img/decorators/corner_decorator_left.png) center center no-repeat;
            display: inline-block;
            content: '';
            width: 10vw;
            height: 10vh;
        }
        &:after {
            background: url(https://zelda.com/assets/img/decorators/corner_decorator_right.png) center center no-repeat;
            margin-left: 1rem;
            content: '';
            width: 10vw;
            height: 10vh;
            top: 50%;
            display: inline-block;
        }
    }
}