.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.3em;
}

.product {
    margin: 0.3em;
    width: 20vw;
    img {
        width: 70%;
        height: 30vh;
        padding: 1em;
    }
}

.ant-card-cover {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

.ant-card-hoverable {
    cursor: pointer;
    background-color: #f0f0f0;
}

.ant-carousel .slick-slide img {
    padding: 1em;
}