// .product {
//     padding: 0.5em;
//     .detail {
//         display: flex;
//         flex-direction: column;
//     }
//     img {
//         max-width: 50vw;
//     }
// }
.product2 {
    padding: 5em;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin: 0.3em;
    // width: 100%;
    img {
        margin: 5em;
        // width: 100%;
        height: 30vh;
    }
    .anticon svg {
        color: red;
    }
    height: 80vh;
}

.like {
    margin: 1em;
    .anticon {
        font-size: 2em;
    }
}

.botones {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    button {
        margin: 1em;
        svg {
            color: black;
        }
    }
}

.linea {
    width: 50vw;
}

.comentarios {
    margin: 1em;
    img {
        width: 20vw;
        height: 20vh;
    }
    background-color: rgba(100, 100, 100, 0.295);
}