.createProduct {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ant-modal-content {
    width: 40vw;
    background-color: #FFFFFF;
    border: 1px solid black;
}

.ant-modal-content {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.productsAdmin {
    display: inline-block;
    justify-content: center;
    margin: 0.5em;
}

.formProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
    background-color: rgba(144, 221, 252, 0.233);
    padding: 1em;
    margin: 1em;
}

.productAdmin {
    border: 1px solid black;
    margin: 2em;
    width: 20vw;
    img {
        width: 70%;
        height: 30vh;
        padding: 1em;
    }
}

.ant-input:placeholder-shown {
    margin: 0.5em;
}

.input-file+.js-labelFile {
    margin: 0.5em;
}

.ant-select-single .ant-select-selector {
    margin: 0.5em;
}

.ant-btn {
    margin: 1em;
}

input:not([type='range']),
label,
select,
summary,
textarea {
    margin: 0.5em
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    padding-bottom: 2em;
    padding-top: 0em;
    /* padding: 1em; */
    padding-left: 1em;
    padding-right: 1em;
}