.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    margin: 1em;
}

.category {
    margin: 1em;
    width: 20vw;
    img {
        padding: 1em;
        width: 70%;
        height: 30vh;
    }
}