.search {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    h1 {
        color: rgb(255, 255, 255);
    }
    .ant-btn {
        margin: 0em !important;
    }
    button,
    html [type=button],
    [type=reset],
    [type=submit] {
        padding: 0.5em !important;
    }
}

.busca {
    padding: 1em;
    border-radius: 1em;
    width: 40vw;
}

.ant-input-group-addon {
    background-color: #fafafa00;
}

@media(max-width: 700px) {
    .search {
        height: 25vh;
        background-color: black;
        .busca {
            width: 80vw;
        }
    }
}