.site-card-border-less-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

// .datos {
//     // margin: 2em;
//     // padding: 2em;
// }
.favoritos {
    margin: 2em;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    img {
        width: 10vw;
        height: 15vh;
        // height: 10vh;
    }
    span {
        color: black;
        font-size: 1.5em;
    }
    background-color: #f0f0f0;
    transition: 1s;
    &:hover {
        background-color: #d6d6d6;
    }
}